minc-model.tar.gz
datasets/irh/files/*
!datasets/.gitkeep
weights/*
!weights/.gitkeep
logs/*
!logs/.gitkeep
models/davit
utils/VGG16/GrayVGG16_FC_BN_epoch120_batchsize32.pth
!utils/VGG16/.gitkeep

dataloaders/__pycache__/
models/__pycache__/
utils/__pycache__/
